<a href="@Url.Action("Giohang","Giohang")" style="color: yellow; font-weight: bold; text-decoration: none;">
    <img style="width:20px" src="~/images/images.png" />  giỏ hàng(@ViewBag.Tongsoluong)
</a>


